.footer {
  bottom: 0;
  background-color: var(--accent-color);
  padding: 3rem 0;
  margin: 2rem 0 0;
  width: 100%;
}

.logo-footer,
.footer p,
.footer .subtitle,
.footer .title,
.footer .text,
.footer .social-link .icon {
  fill: var(--bg-color);
  color: var(--bg-color);
}

.footer .social-link .icon:hover,
.footer .social-link .icon:active {
  fill: var(--secondary-accent-color)
}

.footer .container {
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.footerInner {
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 50px;
}

.logo-footer,
.footerInner .subtitle {
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .footer .container {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .logo-footer,
  .footerInner .subtitle {
    margin-bottom: 10px;
  }

  .follow {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .footerInner {
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
  }
}