@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary-color: #0F0F0F;
  --secondary-primary-color: #505050;
  --accent-color: #376B48;
  --secondary-accent-color: #A4D3B2;
  --bg-color: #EFEFEF;
  --secondary-bg-color: #F3FDFA;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

li {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

button{
  border: none;
  background-color: var(--bg-color);
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  color: var(--primary-color);
}

body {
  background: var(--bg-color);
  padding: 0;
}

section {
  padding: 4rem 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
  fill: var(--primary-color);
  color: var(--primary-color);
}

.grid {
  display: grid;
  gap: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  font-weight: 700;
  color: var(--secondary-bg-color);
  padding: .5rem 2rem;
  border-radius: 1rem;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  cursor: pointer;
  outline: none;
  transition: all .9s;
  text-transform: uppercase;
}

.btn a,
.btn {
  color: var(--secondary-bg-color);
}

.btn:hover {
  background-color: var(--secondary-accent-color);
  color: var(--primary-color);
}

.btn:active {
  transform: scale(0.9);
}

.title {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 3rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  font-weight: 400;
}

.info {
  font-size: 1rem;
  font-weight: 300;
  color: var(--secondary-primary-color);
}

.price {
  font-weight: 500;
  font-size: 1.2rem;
}

.old-price {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: line-through;
  color: var(--secondary-primary-color);
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 968px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 448px) {
  html {
    font-size: 12px;
  }

  section {
    padding: 2rem 0;
  }

  .title {
    font-size: 2rem;
  }
}